log/
telemetry/
auth.py
config.py
test.py
__pycache__
**/__pycache__
*.pyc
.pyc
data_operation/__pycache__
data_operation/__pycache__/
hardware_monitor/__pycache__/__init__.cpython-310.pyc
data_operation/__pycache__/__init__.cpython-310.pyc
data_example.json
PC_telemerty.zip
.DS_Store
/.idea/
/logs/
/tempdir/
